@keyframes heroAnimation {
  0% {
    transform: translateY(100%); 
  }
  100% {
    transform: translateY(0%); 
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
