@use "./variables" as *;
@use "./mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lufga", sans-serif;
  transition: 0.3s ease;
}

body {
  background-color: $colorWhite;
  padding: 40px 0;
  line-height: 100%;
  letter-spacing: -1.5%;
}

main {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  padding: 0 71px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 100%;
  letter-spacing: -1.5%;
}

p,
a,
h2,
h4 {
  font-weight: 500;
  font-size: 20px;
}
.orange {
  color: $colorOrange;
}
.title {
  font-size: 64px;
}
.btn {
  a {
    color: $colorWhite;
  }
}

.orangeBtn {
  @include btn($colorOrange);
}

//*done

@media (max-width: 900px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0 10px;
  }
}
