@use "./variables" as *;
@use "./mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lufga", sans-serif;
  transition: 0.3s ease;
}

body {
  background-color: $colorWhite;
  padding-top: 40px;
}

main {
  position: relative;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.container {
  width: 100%;
  height: 100%;
  padding: 0 71px;
}
.row {
  height: 100%;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 100%;
  letter-spacing: -1.5%;
}

p,
a,
h4 {
  font-weight: 500;
  font-size: 20px;
}
.orange {
  color: $colorOrange;
}
h2 {
  font-size: 64px;
}

.orangeBtn {
  @include btn($colorOrange);
  border: none;
  color: $colorWhite;
  a {
    color: $colorWhite;
  }
  &:hover {
    opacity: 0.7;
  }
}

.grayBtn {
  @include buttonGray();
  color: $colorBlack;

  a {
    color: $colorBlack;
  }
  &:hover {
    background-color: $colorBlack;
    color: $colorWhite;
    a {
      color: $colorWhite;
    }
  }
}

.titleWhite {
  color: $colorWhite;
}
.title {
  color: $colorSlateGray;
}

svg {
  stroke: $colorWhite;
  width: 42px;
  height: 42px;
}

.logo {
  padding-left: 5px;
  padding-right: 5px;
  height: 86px;
  display: flex;
  &:hover {
    background-color: initial;
    transform: scale(1);
    .logoName {
      display: none;
    }
    .logoAuthor {
      display: block;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $colorWhite;
    .logoPng {
      width: 46px;
      height: 46px;
      background-color: $colorOrange;
      border-radius: 50px;
      padding: 5px;
      img {
        object-fit: contain;
      }
    }
    .logoAuthor {
      display: none;
      .authorName {
        font-weight: 600;
        font-size: 20px;
        text-wrap: nowrap;
      }
      .madeBy {
        font-size: 14px;
        font-weight: 400;
        color: $colorExperienceHireText;
      }
    }
  }
}
.arrowCircle {
  @include arrowBtn();
}
//*done

@media (max-width: 920px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0 15px;
  }
  a {
    font-size: 16px;
  }
}
