@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Lufga";
  src: url(../fonts/lufga-webfont/LufgaLight.woff);
}

* {
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lufga", sans-serif;
  transition: 0.5s ease;
}

body {
  background-color: variables.$colorWhite;
  padding: 40px 0;
  line-height: 100%;
  letter-spacing: -1.5%;
}
img {
  // width: 100%;
  // height: 100%;
  object-fit: cover;
}
section {
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0 71px;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 100%;
  letter-spacing: -1.5%;
}
