@use "./variables" as *;
@mixin btn($bgcolor) {
  background-color: $bgcolor;
  border-radius: 60px;
  padding: 20px 40px;
  width: fit-content;
}

@mixin buttonGray() {
  background-color: $colorLightGray;
  border-radius: 24px;
  padding: 15px 32px;
}
