@use "./variables" as *;

@mixin btn($bgcolor) {
  background-color: $bgcolor;
  border-radius: 60px;
  padding: 20px 40px;
  width: fit-content;
}

@mixin buttonGray() {
  background-color: $colorLightGray;
  border-radius: 24px;
  padding: 15px 32px;
  font-family: "Inter", sans-serif;
  text-wrap: nowrap;
  width: fit-content;
}

@mixin arrowBtn() {
  border-radius: 100%;
  background-color: $colorSlateGray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;

  a {
    svg {
      width: 42px;
      height: 42px;
    }
  }
  &:hover {
    background-color: $colorOrange;
  }
}
