$colorWhite: #ffffff;
$colorTestimonialHeadings: #fcfcfd;
$colorTestimonialsText: #f9fafb;
$colorLightGray: #f2f4f7;
$colorGradient: #c9c9c9;
$colorSmsIcon:#ffeda5;
$colorSlide: #e4e7ec;
$colorExperienceHireText: #98a2b3;
$colorHireSpan: #667085;
$colorSlateGray: #344054;
$colorCharcoalBlue: #1d2939;
$colorIdeaIcons: #292d32;
$colorBtnHover: rgba(255, 255, 255, 0.1);

$colorBlack: #000000;
$colorHireButton: #151515;
$colorNav: #171717;
$colorFooter: #272727;
$colorFooterLine:#475467;

$colorOrange: #fd853a;
