@use "./base";

@use "./components/header";
@use "./components/footer";

@use "./pages/hero";
@use "./pages/services";
@use "./pages/experience";
@use "./pages/why_hire";
@use "./pages/portfolio";
@use "./pages/testimonials";
@use "./pages/project_idea";
@use "./pages/blog_post";



