@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lufga", sans-serif;
  transition: 0.5s ease;
}

body {
  background-color: #ffffff;
  padding: 40px 0;
  line-height: 100%;
  letter-spacing: -1.5%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 71px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 100%;
  letter-spacing: -1.5%;
}

p,
a {
  font-size: 20px;
}

.orange {
  color: #fd853a;
}

h2 {
  font-size: 64px;
}

.btn a {
  color: #ffffff;
}

.header .container .row .nav-bar {
  background-color: #171717;
  border-radius: 50px;
}
.header .container .row .nav-bar .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}
.header .container .row .nav-bar .buttons .btn {
  font-weight: 400;
  padding: 20px 40px;
}
.header .container .row .nav-bar .buttons .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 60px;
  padding: 20px 40px;
  transform: scale(1.1);
}
.header .container .row .nav-bar .buttons .logo {
  padding-left: 5px;
  padding-right: 5px;
  width: 307px;
  height: 86px;
  display: flex;
  justify-content: center;
}
.header .container .row .nav-bar .buttons .logo:hover {
  background-color: initial;
  transform: scale(1);
}
.header .container .row .nav-bar .buttons .logo:hover .logo-name {
  display: none;
}
.header .container .row .nav-bar .buttons .logo:hover .logo-author {
  display: block;
}
.header .container .row .nav-bar .buttons .logo a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .container .row .nav-bar .buttons .logo a .logo-png {
  width: 46px;
  height: 46px;
}
.header .container .row .nav-bar .buttons .logo a .logo-author {
  display: none;
}
.header .container .row .nav-bar .buttons .logo a .logo-author .author-name {
  font-weight: 600;
  font-size: 20px;
  text-wrap: nowrap;
}
.header .container .row .nav-bar .buttons .logo a .logo-author .made-by {
  font-size: 14px;
  font-weight: 400;
  color: #98a2b3;
}
.header .container .row .nav-bar .buttons .orange {
  background-color: #fd853a;
  border-radius: 60px;
  padding: 20px 40px;
  font-weight: 700;
}
.header .container .row .nav-bar .buttons .orange:hover {
  background-color: #fd853a;
  transform: scale(1);
}

@media (max-width: 900px) {
  .btn {
    display: none;
  }
}
.footer {
  background-color: #272727;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.footer .container {
  padding: 25px 71px;
}
.footer .container .row .footer-heading,
.footer .container .row .footer-nav,
.footer .container .row .copyright {
  display: flex;
  justify-content: space-between;
}
.footer .container .row .footer-heading h2 {
  font-size: 64px;
  font-weight: 600;
  color: #fcfcfd;
}
.footer .container .row .footer-heading .orange {
  background-color: #fd853a;
  border-radius: 60px;
  padding: 20px 40px;
  padding: 10px 20px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .container .row .footer-heading .orange .arrow {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
}
.footer .container .row .footer-heading .orange .arrow .arrow-right-up,
.footer .container .row .footer-heading .orange .arrow .arrow-right {
  color: #ffffff;
  width: 17.5px;
  height: 17.5px;
}
.footer .container .row .footer-nav h6 {
  color: #fd853a;
}
.footer .container .row .footer-nav a {
  color: #fcfcfd;
}
.footer .container .row .footer-nav .footer-text .logo {
  width: 46px;
  height: 46px;
}

.hero {
  padding: 10px 0;
}
.hero .container .row .hero-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.hero .container .row .hero-heading h1 {
  font-family: "Urbanist";
  font-weight: 600;
  font-size: 95.57px;
}
.hero .container .row .hero-heading .hello .vector-1 {
  position: relative;
  left: 90px;
  top: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.hero .container .row .hero-heading .hello .btn {
  border: 1px solid #171717;
  padding: 12.75px 25.49px;
  border-radius: 38.24px;
}
.hero .container .row .hero-heading .hello .btn a {
  font-size: 20px;
  font-weight: 500;
  color: #171717;
}
.hero .container .row .vector-2 {
  position: relative;
  left: 140px;
  top: -20px;
  width: -moz-fit-content;
  width: fit-content;
}
.hero .container .row .hero-about {
  display: flex;
  justify-content: space-between;
}
.hero .container .row .hero-about .quote-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 25%;
}
.hero .container .row .hero-about .quote-card .quote-up {
  width: 36px;
  height: 36px;
}
.hero .container .row .hero-about .quote-card .bold {
  color: #344054;
  font-weight: 500;
}
.hero .container .row .hero-about .experience-card {
  display: flex;
  flex-direction: column;
  gap: 21px;
  text-align: end;
}
.hero .container .row .hero-about .experience-card .stars {
  width: -moz-fit-content;
  width: fit-content;
}
.hero .container .row .hero-about .experience-card .experience-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hero .container .row .hero-about .experience-card .experience-text .year {
  font-weight: 700;
  font-size: 47px;
  font-family: "Urbanist", sans-serif;
}
.hero .container .row .hero-about .experience-card .experience-text p {
  font-weight: 400;
  color: #171717;
}
.hero .container .row .person-img {
  position: relative;
}
.hero .container .row .person-img .ellipse {
  display: flex;
  justify-self: center;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 0;
}
.hero .container .row .person-img .woman {
  height: 700px;
  justify-self: center;
  position: absolute;
  transform: translateY(-100%);
  z-index: 5;
}
.hero .container .row .person-img .buttons {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-self: center;
  position: relative;
  z-index: 10;
  bottom: 100px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  background-color: white;
}
.hero .container .row .person-img .buttons .btn {
  padding: 10px 20px;
}
.hero .container .row .person-img .buttons .orange {
  display: flex;
  background-color: #fd853a;
  border-radius: 60px;
  padding: 20px 40px;
}
.hero .container .row .person-img .buttons .orange .arrow-up-right {
  width: 42px;
  height: 42px;
}

.services {
  background-image: url("/assets/images/service-bg-details.png"), url("/assets/images/service-bg.jpg");
  background-repeat: no-repeat no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  border-radius: 50px;
  padding: 116px 71px;
}
.services .container .row {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
.services .container .row .service-heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .container .row .service-heading h2,
.services .container .row .service-heading p {
  color: #ffffff;
  font-weight: 500;
}
.services .container .row .service-heading .heading-2 {
  flex: 0 0 55%;
}
.services .container .row .service-heading .heading-2 h2 {
  font-size: 48px;
}
.services .container .row .service-heading .heading-text {
  flex: 0 0 45%;
}
.services .container .row .service-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.services .container .row .service-cards .card {
  display: flex;
  flex-direction: column;
  flex: 0 0 33%;
}
.services .container .row .service-cards .card h4 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}
.services .container .row .service-cards .card .card-img {
  width: -moz-fit-content;
  width: fit-content;
}
.services .container .row .service-cards .card .arrow-right-up {
  width: 114px;
  height: 114px;
}
.services .container .row .dots {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}

.experience .container .row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience .container .row .heading {
  padding: 85px 0;
  display: flex;
  justify-content: center;
}
.experience .container .row .heading h2 {
  color: #344054;
  font-weight: 500;
}
.experience .container .row .heading .experience-datas .exp-data .job {
  color: #344054;
  font-size: 40px;
  font-weight: 600;
}
.experience .container .row .heading .experience-datas .exp-data .date {
  color: #98a2b3;
  font-size: 24px;
  font-weight: 400;
}

.why-hire {
  background-color: #f2f4f7;
  border-radius: 50px;
  padding: 122px 0;
}
.why-hire .container .row {
  display: flex;
  justify-content: space-between;
}
.why-hire .container .row .woman-img {
  flex: 0 0 40%;
}
.why-hire .container .row .hire-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 47px;
  flex: 0 0 55%;
}
.why-hire .container .row .hire-text h2 {
  color: #344054;
}
.why-hire .container .row .hire-text p {
  color: #98a2b3;
  font-weight: 400;
  width: 60%;
}
.why-hire .container .row .hire-text .statistics {
  display: flex;
  gap: 10px;
}
.why-hire .container .row .hire-text .statistics .completed-project {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.why-hire .container .row .hire-text .statistics .completed-project .number {
  font-size: 36px;
  color: #1d2939;
  font-weight: 500;
}
.why-hire .container .row .hire-text .statistics .completed-project p {
  color: #667085;
}
.why-hire .container .row .hire-text .btn {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #151515;
  border-radius: 32px;
  padding: 33px 59px;
}
.why-hire .container .row .hire-text .btn a {
  color: #151515;
  font-weight: 600;
  font-size: 32px;
}
.why-hire .container .row .hire-text .btn:hover {
  background-color: #151515;
}
.why-hire .container .row .hire-text .btn:hover a {
  color: #ffffff;
}/*# sourceMappingURL=index.css.map */