@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lufga", sans-serif;
  src: url("../fonts/lufga-webfont/LufgaBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lufga", sans-serif;
  transition: 0.3s ease;
}

body {
  background-color: #ffffff;
  padding: 40px 0;
  line-height: 100%;
  letter-spacing: -1.5%;
}

main {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  padding: 0 71px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 100%;
  letter-spacing: -1.5%;
}

p,
a {
  font-weight: 500;
  font-size: 20px;
}

.orange {
  color: #fd853a;
}

.title {
  font-size: 64px;
}

.btn a {
  color: #ffffff;
}

.orangeBtn {
  background-color: #fd853a;
  border-radius: 60px;
  padding: 20px 40px;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 900px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0 10px;
  }
}
.header .container .row .navBar {
  background-color: #171717;
  border-radius: 50px;
}
.header .container .row .navBar .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}
.header .container .row .navBar .buttons .btn {
  font-weight: 400;
  padding: 20px 40px;
}
.header .container .row .navBar .buttons .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 60px;
  padding: 20px 40px;
  width: -moz-fit-content;
  width: fit-content;
  transform: scale(1.1);
}
.header .container .row .navBar .buttons .logo {
  padding-left: 5px;
  padding-right: 5px;
  width: -moz-max-content;
  width: max-content;
  height: 86px;
  display: flex;
  justify-content: center;
}
.header .container .row .navBar .buttons .logo:hover {
  background-color: initial;
  transform: scale(1);
}
.header .container .row .navBar .buttons .logo:hover .logoName {
  display: none;
}
.header .container .row .navBar .buttons .logo:hover .logoAuthor {
  display: block;
}
.header .container .row .navBar .buttons .logo a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .container .row .navBar .buttons .logo a .logoPng {
  width: 46px;
  height: 46px;
}
.header .container .row .navBar .buttons .logo a .logoAuthor {
  display: none;
}
.header .container .row .navBar .buttons .logo a .logoAuthor .authorName {
  font-weight: 600;
  font-size: 20px;
  text-wrap: nowrap;
}
.header .container .row .navBar .buttons .logo a .logoAuthor .madeBy {
  font-size: 14px;
  font-weight: 400;
  color: #98a2b3;
}
.header .container .row .navBar .buttons .orangeBtn {
  font-weight: 700;
}
.header .container .row .navBar .buttons .orangeBtn:hover {
  background-color: #fd853a;
  transform: scale(1);
}

@media (max-width: 1230px) {
  .header .container .row .navBar {
    display: flex;
    justify-content: space-between;
  }
  .header .container .row .navBar .buttons .btn {
    display: none;
  }
  .header .container .row .navBar .buttons .logo {
    display: block;
  }
  .header .container .row .navBar .burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 40px;
    gap: 8px;
  }
  .header .container .row .navBar .burger span {
    display: block;
    width: 40px;
    height: 2px;
    border: 2px solid white;
    border-radius: 10px;
  }
}
.footer {
  background-color: #272727;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.footer .container {
  padding: 25px 71px;
}
.footer .container .row .footer-heading,
.footer .container .row .footer-nav,
.footer .container .row .copyright {
  display: flex;
  justify-content: space-between;
}
.footer .container .row .footer-heading h2 {
  font-size: 64px;
  font-weight: 600;
  color: #fcfcfd;
}
.footer .container .row .footer-heading .orange {
  background-color: #fd853a;
  border-radius: 60px;
  padding: 20px 40px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .container .row .footer-heading .orange .arrow {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
}
.footer .container .row .footer-heading .orange .arrow .arrow-right-up,
.footer .container .row .footer-heading .orange .arrow .arrow-right {
  color: #ffffff;
  width: 17.5px;
  height: 17.5px;
}
.footer .container .row .footer-nav h6 {
  color: #fd853a;
}
.footer .container .row .footer-nav a {
  color: #fcfcfd;
}
.footer .container .row .footer-nav .footer-text .logo {
  width: 46px;
  height: 46px;
}

.hero {
  margin-top: 40px;
}
.hero .container .row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero .container .row .aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.hero .container .row .aboutMe .helloBtn {
  position: relative;
}
.hero .container .row .aboutMe .helloBtn .vectorOne {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 90px;
  bottom: 35px;
}
.hero .container .row .aboutMe .helloBtn .btn {
  border: 1px solid #171717;
  padding: 12.75px 25.49px;
  border-radius: 38.24px;
  width: -moz-fit-content;
  width: fit-content;
}
.hero .container .row .aboutMe .helloBtn .btn a {
  font-size: 20px;
  font-weight: 500;
  color: #171717;
}
.hero .container .row .aboutMe .aboutTitle {
  position: relative;
}
.hero .container .row .aboutMe .aboutTitle h1 {
  font-family: "Urbanist";
  font-weight: 600;
  font-size: 95.57px;
}
.hero .container .row .aboutMe .aboutTitle .vectorTwo {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  height: 70px;
  left: -50px;
  top: 170px;
}
.hero .container .row .aboutText {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.hero .container .row .aboutText .quoteCard {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 24px;
  position: relative;
  z-index: 5;
}
.hero .container .row .aboutText .quoteCard .quoteUp {
  width: 36px;
  height: 36px;
}
.hero .container .row .aboutText .quoteCard .quoteUp img {
  color: #344054;
}
.hero .container .row .aboutText .quoteCard p {
  color: #344054;
}
.hero .container .row .aboutText .experienceCard {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  gap: 21px;
  text-align: end;
}
.hero .container .row .aboutText .experienceCard .stars {
  width: -moz-max-content;
  width: max-content;
}
.hero .container .row .aboutText .experienceCard .experienceText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hero .container .row .aboutText .experienceCard .experienceText .year {
  font-weight: 700;
  font-size: 47px;
  font-family: "Urbanist", sans-serif;
}
.hero .container .row .aboutText .experienceCard .experienceText .experience {
  font-weight: 400;
  color: #171717;
}
.hero .container .row .personDetails {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}
.hero .container .row .personDetails .personImg {
  width: -moz-max-content;
  width: max-content;
}
.hero .container .row .personDetails .personImgIcons {
  display: none;
}
.hero .container .row .personDetails .buttons {
  position: absolute;
  bottom: 50px;
  z-index: 5;
  display: flex;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50px;
  gap: 10px;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
.hero .container .row .personDetails .buttons .btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.hero .container .row .personDetails .buttons .btn:hover {
  background-color: #fd853a;
  border-radius: 60px;
  padding: 20px 40px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
}
.hero .container .row .personDetails .buttons .btn .arrowUpRight {
  width: 42px;
  height: 42px;
}

@media (max-width: 1024px) {
  .hero .container .row .aboutMe .aboutTitle h1 {
    font-size: 70px;
  }
  .hero .container .row .aboutMe .aboutTitle .vectorTwo {
    top: 120px;
  }
  .hero .container .row .aboutText .quoteCard {
    width: 35%;
  }
  .hero .container .row .personDetails .personImg {
    width: -moz-max-content;
    width: max-content;
  }
}
@media (max-width: 768px) {
  .hero .container .row .aboutMe .aboutTitle h1 {
    font-size: 50px;
  }
  .hero .container .row .aboutMe .aboutTitle .vectorTwo {
    top: 80px;
  }
  .hero .container .row .aboutText {
    display: none;
  }
  .hero .container .row .personDetails {
    transform: translateY(-20%);
  }
  .hero .container .row .personDetails .buttons .btn {
    padding: 0px 10px;
  }
  .hero .container .row .personDetails .buttons .btn a {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .hero .container .row .aboutMe .aboutTitle h1 {
    font-size: 35px;
  }
  .hero .container .row .aboutMe .aboutTitle .vectorTwo {
    top: 60px;
    left: -40px;
    height: 50px;
  }
  .hero .container .row .aboutText {
    display: none;
  }
  .hero .container .row .personDetails .buttons {
    bottom: 20px;
  }
  .hero .container .row .personDetails .personImg {
    width: 100%;
  }
}
.services {
  background-image: url("/assets/images/service-bg-details.png"), url("/assets/images/service-bg.jpg");
  background-repeat: no-repeat no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  border-radius: 50px;
  overflow: hidden;
}
.services .container {
  padding-top: 116px;
  padding-bottom: 116px;
  background-color: #171717;
}
.services .container .row {
  display: flex;
  flex-direction: column;
  gap: 96px;
}
.services .container .row .serviceHeading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.services .container .row .serviceHeading .title,
.services .container .row .serviceHeading .text {
  color: #ffffff;
  flex: 0 0 37%;
}
.services .container .row .serviceHeading .title {
  font-size: 48px;
}
.services .container .row .serviceSlide {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
.services .container .row .serviceSlide .serviceCards {
  display: flex;
  justify-content: space-between;
  gap: 39px;
}
.services .container .row .serviceSlide .serviceCards .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 35px;
  border: 2px solid #ffffff;
  overflow: hidden;
}
.services .container .row .serviceSlide .serviceCards .card:hover {
  background-color: #fd853a;
}
.services .container .row .serviceSlide .serviceCards .card:hover .arrowCircle img {
  color: #fd853a;
}
.services .container .row .serviceSlide .serviceCards .card:hover .cardImg img {
  transform: scaleY(1.1);
}
.services .container .row .serviceSlide .serviceCards .card .serviceDetails .cardTitle {
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  padding: 37px;
  text-wrap: nowrap;
}
.services .container .row .serviceSlide .serviceCards .card .serviceDetails .cardImg::before {
  content: "";
  border: 2px solid rgba(249, 250, 251, 0.3);
  display: block;
  margin: 23px 0;
}
.services .container .row .serviceSlide .serviceCards .card .arrowCircle {
  width: 114px;
  height: 114px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.services .container .row .serviceSlide .dots {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}

@media (max-width: 1024px) {
  .services .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .services .container .row {
    gap: 70px;
  }
  .services .container .row .serviceHeading .title,
  .services .container .row .serviceHeading .text {
    flex: 0 0 100%;
  }
  .services .container .row .serviceSlide .serviceCards .card .serviceDetails .cardTitle {
    font-size: 24px;
    padding: 37px;
    text-wrap: nowrap;
  }
  .services .container .row .serviceSlide .serviceCards .card .arrowCircle {
    width: 74px;
    height: 74px;
  }
}
@media (max-width: 425px) {
  .services .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .services .container .row {
    gap: 50px;
  }
  .services .container .row .serviceHeading {
    text-align: center;
  }
  .services .container .row .serviceHeading .title {
    font-size: 40px;
  }
  .services .container .row .serviceSlide .serviceCards .deactive {
    display: none;
  }
  .services .container .row .serviceSlide .serviceCards .card .cardTitle {
    text-align: center;
  }
}
.experience .container .row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience .container .row .title {
  padding: 85px 0;
  display: flex;
  justify-content: center;
}
.experience .container .row .title h2 {
  color: #344054;
  font-weight: 500;
}
.experience .container .row .title .experience-datas .exp-data .job {
  color: #344054;
  font-size: 40px;
  font-weight: 600;
}
.experience .container .row .title .experience-datas .exp-data .date {
  color: #98a2b3;
  font-size: 24px;
  font-weight: 400;
}

.why-hire {
  background-color: #f2f4f7;
  border-radius: 50px;
  padding: 122px 0;
}
.why-hire .container .row {
  display: flex;
  justify-content: space-between;
}
.why-hire .container .row .woman-img {
  flex: 0 0 40%;
}
.why-hire .container .row .hire-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 47px;
  flex: 0 0 55%;
}
.why-hire .container .row .hire-text h2 {
  color: #344054;
}
.why-hire .container .row .hire-text p {
  color: #98a2b3;
  font-weight: 400;
  width: 60%;
}
.why-hire .container .row .hire-text .statistics {
  display: flex;
  gap: 10px;
}
.why-hire .container .row .hire-text .statistics .completed-project {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.why-hire .container .row .hire-text .statistics .completed-project .number {
  font-size: 36px;
  color: #1d2939;
  font-weight: 500;
}
.why-hire .container .row .hire-text .statistics .completed-project p {
  color: #667085;
}
.why-hire .container .row .hire-text .btn {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #151515;
  border-radius: 32px;
  padding: 33px 59px;
}
.why-hire .container .row .hire-text .btn a {
  color: #151515;
  font-weight: 600;
  font-size: 32px;
}
.why-hire .container .row .hire-text .btn:hover {
  background-color: #151515;
}
.why-hire .container .row .hire-text .btn:hover a {
  color: #ffffff;
}

.portfolio {
  padding: 97px;
}
.portfolio .container .row {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio .container .row .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio .container .row .heading h2 {
  font-weight: 600;
  color: #344054;
  width: 50%;
}
.portfolio .container .row .heading .btn {
  background-color: #fd853a;
  border-radius: 60px;
  padding: 20px 40px;
  width: -moz-fit-content;
  width: fit-content;
}
.portfolio .container .row .portfolio-details .portfolio-cards-dots .cards {
  display: flex;
}
.portfolio .container .row .portfolio-details .portfolio-cards-dots .cards .card {
  background-image: url("/assets/images/portfolio.png");
  background-repeat: no-repeat;
  background-position: center;
}
.portfolio .container .row .portfolio-details .portfolio-cards-dots .dots {
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=index.css.map */