// @use "../variables";
// @use "../mixins";

// .footer {
//   background-color: variables.$colorFooter;
//   border-top-left-radius: 24px;
//   border-top-right-radius: 24px;
//   .container {
//     padding: 25px 71px;
//     .row {
//       .footer-heading,
//       .footer-nav,
//       .copyright {
//         display: flex;
//         justify-content: space-between;
//       }
//       .footer-heading {
//         h2 {
//           font-size: 64px;

//           font-weight: 600;
//           color: variables.$colorTestimonialHeadings;
//         }
//         .orange {
//           @include mixins.btn(variables.$colorOrange);
//           padding: 10px 20px;
//           font-weight: 500;
//           color: variables.$colorWhite;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           .arrow {
//             width: 42px;
//             height: 42px;
//             display: flex;
//             align-items: center;
//             .arrow-right-up,
//             .arrow-right {
//               color: variables.$colorWhite;
//               width: 17.5px;
//               height: 17.5px;
//             }
//           }
//         }
//       }
//       .footer-nav {
//         h6 {
//             color: variables.$colorOrange;
//         }
//         a {
//           color: variables.$colorTestimonialHeadings;
//         }
//         .footer-text {
//             .logo {
//                 width: 46px;
//                 height: 46px;
                
//             }
//         }
//       }
//     }
//   }
// }
