@use "../variables" as *;
@use "../mixins" as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .container {
    .row {
      .navBar {
        background-color: $colorNav;
        border-radius: 50px;

        .burger {
          display: none;
        }
        input {
          display: none;
        }
        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
          gap: 10px;
          .btn {
            font-weight: 400;
            padding: 20px 40px;
            a {
              color: $colorWhite;
            }
            &:hover {
              @include btn($colorBtnHover);
              transform: scale(1.1);
            }
          }
          .active {
           @include btn($colorOrange);
            border-radius: 50px;
            &:hover {
              background-color: $colorOrange;
              opacity: 80%;
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 1230px) {
//   .header {
//     .container {
//       .row {
//         .navBar {
//           display: flex;
//           justify-content: space-between;
//           .buttons {
//             .btn {
//               display: none;
//             }
//             .logo {
//               display: block;
//             }
//           }
//           .burger {
//             display: flex;
//             cursor: pointer;
//             .menu {
//               display: flex;
//               flex-direction: column;
//               align-items: flex-end;
//               justify-content: center;
//               padding: 20px;
//               gap: 8px;
//               span {
//                 padding-right: 10px;
//                 display: block;
//                 width: 30px;
//                 height: 2px;
//                 border: 2px solid white;
//                 border-radius: 10px;
//               }
//             }
//           }
//           #checked:checked ~ .buttons {
//             display: flex;
//           }
//         }
//       }
//     }
//   }
// }
//*burger duzelmelidir
//* logo hover edende yazilar surusmemelidir
html {
  scroll-behavior: smooth;
}
