@use "../variables" as *;
@use "../mixins" as *;

.header {
  .container {
    .row {
      .navBar {
        background-color: $colorNav;
        border-radius: 50px;
        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
          gap: 10px;
          .btn {
            font-weight: 400;
            padding: 20px 40px;
            &:hover {
              @include btn($colorBtnHover);
              transform: scale(1.1);
            }
          }
          .logo {
            padding-left: 5px;
            padding-right: 5px;
            width: max-content;
            height: 86px;
            display: flex;
            justify-content: center;
            &:hover {
              background-color: initial;
              transform: scale(1);
              .logoName {
                display: none;
              }
              .logoAuthor {
                display: block;
              }
            }
            a {
              display: flex;
              align-items: center;
              gap: 10px;
              .logoPng {
                width: 46px;
                height: 46px;
              }
              .logoAuthor {
                display: none;
                .authorName {
                  font-weight: 600;
                  font-size: 20px;
                  text-wrap: nowrap;
                }
                .madeBy {
                  font-size: 14px;
                  font-weight: 400;
                  color: $colorExperienceHireText;
                }
              }
            }
          }
          .orangeBtn {
            font-weight: 700;
            &:hover {
              //*bunun rengi deyismemelidir 
              background-color: $colorOrange;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .header {
    .container {
      .row {
        .navBar {
          display: flex;
          justify-content: space-between;
          .buttons {
            .btn {
              display: none;
            }
            .logo {
              display: block;
            }
          }
          .burger {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding: 20px;
            gap: 8px;
            span {
              padding-right: 10px;
              display: block;
              width: 30px;
              height: 2px;
              border: 2px solid white;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
