@use "../variables";
@use "../mixins";

.header {
  .container {
    .row {
      .nav-bar {
        background-color: variables.$colorNav;
        border-radius: 50px;
        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
          gap: 10px;
          .btn {
            font-weight: 400;
            padding: 20px 40px;
            &:hover {
              @include mixins.btn(variables.$colorBtnHover);
              transform: scale(1.1);
            }
          }
          a {
            color: variables.$colorWhite;
            font-size: 20px;
          }
          .logo {
            padding-left: 5px;
            padding-right: 5px;
            &:hover {
              background-color: initial;
              transform: scale(1);
              .logo-name {
                display: none;
              }
              .logo-author {
                display: block;
              }
            }
            a {
              display: flex;
              align-items: center;
              gap: 10px;
              .logo-png {
                width: 46px;
                height: 46px;
              }
              .logo-author {
                display: none;
                h5 {
                  font-weight: 600;
                  font-size: 20px;
                  text-wrap: nowrap;
                }
                span {
                  font-size: 14px;
                  font-weight: 400;
                  color: variables.$colorExperienceHireText;
                }
              }
            }
          }
          .orange {
            @include mixins.btn(variables.$colorOrange);
            font-weight: 700;
            &:hover {
              background-color: variables.$colorOrange;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
