@use "../variables" as *;
@use "../mixins" as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .container {
    .row {
      .navBar {
        background-color: $colorNav;
        border-radius: 50px;

        .burger {
          display: none;
        }
        input {
          display: none;
        }
        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
          gap: 10px;
          .btn {
            font-weight: 400;
            padding: 20px 40px;
            a {
              color: $colorWhite;
            }
            &:hover {
              @include btn($colorBtnHover);
              transform: scale(1.1);
            }
          }
          .active {
           @include btn($colorOrange);
            border-radius: 50px;
            &:hover {
              background-color: $colorOrange;
              opacity: 80%;
            }
          }
        }
      }
    }
  }
}


//*burger duzelmelidir
//* logo hover edende yazilar surusmemelidir

html {
  scroll-behavior: smooth;
}
