@use "../variables" as *;

.experience {
  .container {
    .row {
      flex-direction: column;
      gap: 10px;
      .title {
        padding: 85px 0;
        text-align: center;
        font-weight: 500;
        text-wrap: nowrap;
      }
      .experienceCard {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .expInfosLeft,
        .expInfosRight {
          display: flex;
          flex-direction: column;
          flex: 0 0 33%;
        }
        .expInfosLeft {
          gap: 102px;
        }
        .expInfosRight {
          gap: 48px;
        }
        .expData {
          display: flex;
          flex-direction: column;
          gap: 14px;
          .job {
            font-size: 40px;
            color: $colorSlateGray;
            font-weight: 600;
            text-wrap: nowrap;
          }
          .date {
            font-size: 24px;
            font-weight: 400;
            color: $colorExperienceHireText;
          }
        }
        .circleLine {
          height: 400px;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .experience {
    .container {
      .row {
        .title {
          padding: 65px 0;
        }
        .experienceCard {
          .expInfosLeft,
          .expInfosRight {
            flex: 0 0 45%;
          }
          .expData {
            .job {
              font-size: 32px;
              text-wrap: wrap;
            }
          }
          .circleLine {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .experience {
    .container {
      .row {
        .title {
          padding: 45px 0;
          font-size: 38px;
          text-wrap: wrap;
        }
        .experienceCard {
          flex-wrap: wrap;
          text-align: center;
          .expInfosLeft,
          .expInfosRight {
            flex: 0 0 100%;
          }
          .expInfosLeft,
          .expInfosRight {
            gap: 35px;
          }
          .expData {
            .job {
              font-size: 26px;
            }
            .date {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

//*done
