@use "../variables";

.experience {
  .container {
    .row {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .title {
        padding: 85px 0;
        display: flex;
        justify-content: center;
        h2 {
          color: variables.$colorSlateGray;
          font-weight: 500;
        }
        .experience-datas {
       
          .exp-data {
            .job {
              color: variables.$colorSlateGray;
              font-size: 40px;
              font-weight: 600;
            }
            .date {
              color: variables.$colorExperienceHireText;
              font-size: 24px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
