@use "../variables" as *;
@use "../mixins" as *;
@use "../animations/animation" as *;

.hero {
  margin-top: 100px;
  height: 90vh;
  .container {
    .row {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-between;
      .aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        .helloBtn {
          position: relative;
          .vectorOne {
            width: max-content;
            position: absolute;
            left: 90px;
            bottom: 35px;
          }
          .btn {
            border: 1px solid $colorNav;
            padding: 12.75px 25.49px;
            border-radius: 38.24px;
            width: fit-content;
            a {
              font-size: 20px;
              font-weight: 500;
              color: $colorNav;
            }
          }
        }
        .aboutTitle {
          position: relative;
          h1 {
            font-family: "Urbanist";
            font-weight: 600;
            font-size: 95.57px;
          }
          //           //*vector 2 de problem var responsiv deyil
          .vectorTwo {
            width: fit-content;
            position: absolute;
            height: 70px;
            left: -50px;
            top: 170px;
          }
        }
      }
      .aboutText {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        .quoteCard {
          display: flex;
          flex-direction: column;
          width: 25%;
          gap: 24px;
          position: relative;
          z-index: 5;
          //*burda nese font weigth uygun gelmir
          //* base de ki font face de de duzelis edende hamsinin weigthine tesir edir .arasdir
          .quoteUp {
            width: 36px;
            height: 36px;
          }
          p {
            color: $colorSlateGray;
          }
        }
        .experienceCard {
          text-wrap: nowrap;
          display: flex;
          flex-direction: column;
          gap: 21px;
          text-align: end;
          .stars {
            width: max-content;
          }
          .experienceText {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .year {
              font-weight: 700;
              font-size: 47px;
              font-family: "Urbanist", sans-serif;
            }
            .experience {
              font-weight: 400;
              color: $colorNav;
            }
          }
        }
      }
      .personDetails {
        position: relative;
        display: flex;
        justify-content: center;
        &:hover {
          .personImgIcons {
            display: block;
            animation: heroAnimation 0.5s ease;
          }
        }
        .personImgIcons,
        .ellipse,
        .personImg {
          position: absolute;
          bottom: 0;
        }
        // .personImg {
        //   // width: 600px;
        //   // height: 500px;
        // }
        .ellipse {
          z-index: -2;
          // width: 60%;
        }
        .personImgIcons {
          z-index: -1;
          display: none;
        }
        .personImg {
          z-index: 0;
        }
        .buttons {
          position: absolute;
          bottom: 50px;
          z-index: 5;
          display: flex;
          justify-content: center;
          border: 2px solid $colorWhite;
          border-radius: 50px;
          gap: 10px;
          align-items: center;
          padding: 5px;
          background-color: rgba(255, 255, 255, 0.3);
          .btn {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            a {
              color: $colorWhite;
            }
          }
          .hire {
            svg {
              display: none;
            }
            &:hover {
              @include btn($colorOrange);
              padding: 10px 20px;
              svg {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

//*nece edim ki responsive olsun

@media (max-width: 1024px) {
  .hero {
    .container {
      .row {
        .aboutMe {
          .aboutTitle {
            h1 {
              font-size: 70px;
            }
            .vectorTwo {
              top: 120px;
            }
          }
        }
        .aboutText {
          .quoteCard {
            width: 35%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .container {
      .row {
        .aboutMe {
          .aboutTitle {
            h1 {
              font-size: 50px;
            }
            .vectorTwo {
              top: 80px;
            }
          }
        }
        .personDetails {
          .buttons {
            .btn {
              padding: 0px 10px;
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    .container {
      .row {
        .aboutMe {
          .aboutTitle {
            h1 {
              font-size: 35px;
            }
            .vectorTwo {
              top: 60px;
              left: -40px;
              height: 50px;
            }
          }
        }
        .aboutText {
          //*nece edim ki yaazilar qalsin amma seliqeli gorunsun?
          display: none;
          // flex-direction: column; // Məzmunu sütun formatına keçir
          // gap: 20px; // Hissələr arasındakı boşluğu azaldır

          // .quoteCard {
          //   width: 100%; // quoteCard elementini tam genişlikdə göstər
          //   margin-bottom: 20px; // Alt hissədə boşluq əlavə et
          // }
        }
        .personDetails {
          .buttons {
            bottom: 20px;
          }
          // .personImg {
          //   width: 100%;
          // }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .vectorTwo {
    display: none;
  }
}

//* icon qaldi
//* icon hover edende h1 yoxa cixsin ve quote card flex start olsun
//* seklin olcusu teyin olunmalidir
//*buttonlar ucun js tetbiq edeceyik birine hover edende digerinden active classsi remove olsun hover edilene elave olunsun
//*responsivlik qaldi
