@use "../variables" as *;
@use "../mixins" as *;

.hero {
  margin-top: 40px;
  .container {
    .row {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        .helloBtn {
          position: relative;
          .vectorOne {
            width: max-content;
            position: absolute;
            left: 90px;
            bottom: 35px;
          }
          .btn {
            border: 1px solid $colorNav;
            padding: 12.75px 25.49px;
            border-radius: 38.24px;
            width: fit-content;
            a {
              font-size: 20px;
              font-weight: 500;
              color: $colorNav;
            }
          }
        }
        .aboutTitle {
          position: relative;
          h1 {
            font-family: "Urbanist";
            font-weight: 600;
            font-size: 95.57px;
          }
          //*vector 2 de problem var responsiv deyil
          .vectorTwo {
            width: fit-content;
            position: absolute;
            height: 70px;
            left: -50px;
            top: 170px;
          }
        }
      }
      .aboutText {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        .quoteCard {
          display: flex;
          flex-direction: column;
          width: 25%;
          gap: 24px;
          position: relative;
          z-index: 5;
          //*burda nese font weigth uygun gelmir
          //* base de ki font face de de duzelis edende hamsinin weigthine tesir edir .arasdir
          .quoteUp {
            width: 36px;
            height: 36px;
            img {
              color: $colorSlateGray;
            }
          }
          p {
            color: $colorSlateGray;
          }
        }
        .experienceCard {
          text-wrap: nowrap;
          display: flex;
          flex-direction: column;
          gap: 21px;
          text-align: end;
          .stars {
            width: max-content;
          }
          .experienceText {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .year {
              font-weight: 700;
              font-size: 47px;
              font-family: "Urbanist", sans-serif;
            }
            .experience {
              font-weight: 400;
              color: $colorNav;
            }
          }
        }
      }
      .personDetails {
        display: flex;
        justify-content: center;
        //*asagidaki bosluq transforma gore olur
        transform: translateY(-50%);
        .personImg {
          width: max-content;
        }
        //*nece edim ki hover edende diger sekil gelsin
        // .personImg:hover {
        //   opacity: 0;
        //   .personImgIcons {
        //     display: block;
        //   }
        // }
        .personImgIcons {
          display: none;
        }
        .buttons {
          //*bunu yuxari nece cekim
          position: absolute;
          bottom: 50px;
          z-index: 5;
          display: flex;
          justify-content: center;
          border: 2px solid $colorWhite;
          border-radius: 50px;
          gap: 10px;
          align-items: center;
          padding: 5px;
          background-color: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(5%);
          .btn {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            &:hover {
              @include btn($colorOrange);
              padding: 10px 20px;
              .orangeBtn {
                background: none;
              }
            }
            .arrowUpRight {
              width: 42px;
              height: 42px;
            }
          }
        }
      }
    }
  }
}

//*nece edim ki responsive olsun

@media (max-width: 1024px) {
  .hero {
    .container {
      .row {
        .aboutMe {
          .aboutTitle {
            h1 {
              font-size: 70px;
            }
            .vectorTwo {
              top: 120px;
            }
          }
        }
        .aboutText {
          .quoteCard {
            width: 35%;
          }
        }
        .personDetails {
          .personImg {
            width: max-content;
          }
        }
      }
    }
  }
}

//*bunlara tekrar bax mentordan meslehet al

@media (max-width: 768px) {
  .hero {
    .container {
      .row {
        .aboutMe {
          .aboutTitle {
            h1 {
              font-size: 50px;
            }
            .vectorTwo {
              top: 80px;
            }
          }
        }
        .aboutText {
          //*nece edim ki yaazilar qalsin amma seliqeli gorunsun?
          display: none;
          // flex-direction: column; // Məzmunu sütun formatına keçir
          // gap: 20px; // Hissələr arasındakı boşluğu azaldır

          // .quoteCard {
          //   width: 100%; // quoteCard elementini tam genişlikdə göstər
          //   margin-bottom: 20px; // Alt hissədə boşluq əlavə et
          // }
        }
        .personDetails {
          transform: translateY(-20%);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    .container {
      .row {
        .aboutMe {
          .aboutTitle {
            h1 {
              font-size: 35px;
            }
            .vectorTwo {
              top: 60px;
              left: -40px;
              height: 50px;
            }
          }
        }
        .aboutText {
          //*nece edim ki yaazilar qalsin amma seliqeli gorunsun?
          display: none;
          // flex-direction: column; // Məzmunu sütun formatına keçir
          // gap: 20px; // Hissələr arasındakı boşluğu azaldır

          // .quoteCard {
          //   width: 100%; // quoteCard elementini tam genişlikdə göstər
          //   margin-bottom: 20px; // Alt hissədə boşluq əlavə et
          // }
        }
      }
    }
  }
}
