@use "../variables" as *;
@use "../mixins" as *;

.portfolio {
  .container {
    padding-top: 97px;
    padding-bottom: 97px;
    .row {
      display: flex;
      flex-direction: column;
      gap: 48px;
      .portfolioHeading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        h2 {
          font-weight: 600;
          flex: 0 0 44%;
        }
      }
      .portfolioDetails {
        display: flex;
        flex-direction: column;
        gap: 48px;
        .portfolioSlide {
          display: flex;
          flex-direction: column;
          gap: 48px;
          align-items: center;
          .portfolioCards {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            width: 100%;
            flex-wrap: wrap;
            .card {
              background-image: url("/assets/images/portfolio.png");
              background-repeat: no-repeat;
              border-radius: 20px;
              position: relative;
              background-size: cover;
              background-position: center;
              cursor: pointer;
              flex: 1 1 40%;
              min-width: 200px;
              overflow: hidden;
              max-height: 371px;
              &::after {
                content: "";
                background: linear-gradient(
                  to top right,
                  rgba(0, 0, 0, 0.72) 0%,
                  rgba(0, 0, 0, 0) 50%
                );
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
              }
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 10px;
              .arrowRight {
                border: 1px solid $colorOrange;
                width: 64px;
                height: 64px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: flex-end;
                gap: 10px;
                padding: 10px;
                a {
                  svg {
                    stroke: none;
                    fill: $colorOrange;
                  }
                }
              }
              height: 371px;
              .lirante {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px;
                border-radius: 25px;
                margin: 0 10px;
                position: relative;
                z-index: 5;

                .liranteTitle {
                  font-size: 70px;
                  font-weight: 700;
                  position: relative;
                  z-index: 4;
                  color: $colorWhite;
                }
                .liranteText {
                  display: none;
                  width: 90%;
                  color: $colorWhite;
                }
              }
            }
            .card:hover {
              .arrowRight {
                background-color: $colorOrange;
                a {
                  svg {
                    fill: $colorWhite;
                    stroke: $colorWhite;
                  }
                }
              }
              .lirante {
                background: linear-gradient(
                  rgba(0, 0, 0, 0.72),
                  rgba(0, 0, 0, 0.72)
                );
                transform: scale(1.02);
                .liranteText {
                  display: block;
                }
              }
            }
          }
          .dots {
            width: fit-content;
          }
        }
        .portfolioLinks {
          display: flex;
          gap: 14px;
          justify-content: center;
          flex-wrap: wrap;
        }
        .aboutLirante {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          gap: 24px;
          .subtitle {
            display: flex;
            gap: 18px;
            align-items: center;
            h4 {
              color: $colorSlateGray;
              font-weight: 700;
              font-size: 48px;
            }
            .arrowOrange {
              width: 58px;
              height: 58px;
              background-color: $colorOrange;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
              border: 2px solid $colorOrange;
              gap: 10px;
              padding: 10px;
              &:hover {
                background-color: $colorBlack;
                border: none;
              }
            }
          }
          p {
            color: $colorSlateGray;
            font-weight: 400;
            width: 45%;
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .portfolio {
    .container {
      padding-top: 57px;
      padding-bottom: 57px;
      .row {
        .portfolioHeading {
          h2 {
            font-size: 48px;
            flex: 1 1 60%;
          }
        }
        .portfolioDetails {
          .portfolioSlide {
            .portfolioCards {
              justify-content: center;
              .card {
                flex: 0 1 60%;
                .lirante {
                  padding: 5px;
                  margin: 0px;
                  .liranteTitle {
                    font-size: 50px;
                  }
                }
              }
            }
          }
          .aboutLirante {
            .subtitle {
              display: flex;
              gap: 18px;
              align-items: center;
              h4 {
                font-size: 40px;
              }
            }
            p {
              width: 95%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .portfolio {
    .container {
      padding-top: 30px;
      padding-bottom: 30px;
      .row {
        .portfolioHeading {
          justify-content: center;
          h2 {
            font-size: 36px;
            text-align: center;
          }
        }
        .portfolioDetails {
          .portfolioSlide {
            .portfolioCards {
              .card {
                .lirante {
                  .liranteTitle {
                    font-size: 35px;
                  }
                }
              }
            }
          }
          .aboutLirante {
            .subtitle {
              flex-wrap: wrap;
              justify-content: center;
              h4 {
                font-size: 30px;
              }
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
