@use "../variables" as *;
@use "../mixins" as *;

.projectIdea {
  .container {
    padding-top: 98px;
    padding-bottom: 98px;
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      gap: 10px;
      .title {
        width: 69%;
        font-weight: 600;
        text-align: center;
        text-wrap: wrap;
      }
      .projectCard {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .emailForm {
          display: flex;
          border-radius: 50px;
          padding: 14px;
          border: 1px solid $colorSlide;
          justify-content: space-between;
          align-items: center;
          .enterInput {
            display: flex;
            flex-wrap: nowrap;
            .emailIcon {
              padding: 14px;
              background-color: $colorSmsIcon;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
              &:hover {
                background-color: $colorOrange;
              }
            }
            #emailInput {
              padding-left: 14px;
              border: none;
              outline: none;
            }
            #emailInput::placeholder {
              font-size: 18px;
              font-family: "Urbanist";
              font-weight: 500;
              color: $colorBlack;
            }
          }
          .emailIcon,
          .orangeBtn {
            cursor: pointer;
          }
        }
        .projectIdeaInfos {
          display: flex;
          justify-content: space-around;
          gap: 10px;
          flex-wrap: wrap;
          .ideaInfo {
            display: flex;
            text-wrap: nowrap;
            align-items: center;
            .infoImg {
              svg {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .projectIdea {
    .container {
      .row {
        .title {
          font-size: 44px;
          width: 85%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .projectIdea {
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
      .row {
        .title {
          font-size: 36px;
        }
        .projectCard {
          .emailForm {
            padding: 5px;

            .enterInput {
              .emailIcon {
                padding: 5px;
                svg {
                  width: 24px;
                  height: 24px;
                }
              }
              #emailInput {
                padding-left: 5px;
              }
              #emailInput::placeholder {
                font-size: 14px;
              }
            }
            .orangeBtn {
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .projectIdea {
    .container {
      .row {
        .title {
          font-size: 26px;
        }
      }
    }
  }
}

//*done
