// @use "../variables" as *;
// @use "../mixins" as *;

// .projectIdea {
//   .container {
//     .row {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: 10px;
//       padding: 98px 0;
//       .title {
//         font-weight: 600;
//         width: 60%;
//         text-align: center;
//         text-wrap: wrap;
//       }
//       .projectCard {
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         text-wrap: nowrap;
//         .emailForm {
//           width: 57.77%;
//         //   max-width: 832px;
        
//           display: flex;
//           border: 1px solid green;
//           border-radius: 50px;
//           padding: 14px;
//           border: 1px solid $colorSlide;
//           height: 86px;
//           .emailIcon {
//             width: 64px;
//             height: 58px;
//             background-color: $colorSmsIcon;
//             border-radius: 50px;
//             // display: flex;
//             // gap: 10px;
//             padding: 14px;
//             .emailInput {
//               // border: none;
//               // outline: none;
//               // width: 100%;
//               // display: block;
//             }
//           }
//           .orangeBtn {
//             color: $colorWhite;
//             font-weight: "Urbanist";
//             font-weight: 500;
//           }
//         }
//         .projectIdeaInfos {
//           display: flex;
//           justify-content: space-between;
//           flex-wrap: wrap;
//           width: 770px;
//           .ideaInfo {
//             display: flex;
//             align-items: center;
//           }
//         }
//       }
//     }
//   }
// }
