.allPortfolio {
  .container {
    .row {
      .portfolioBox {
        display: flex;
        // justify-content: space-between;
        // gap: 24px;
        // flex-wrap: wrap;
        .card {
        //   border-radius: 20px;
        //   position: relative;
        //   cursor: pointer;
        //   flex: 0 0 45
        //   overflow: hidden;
        // width: 30%;
        //   max-height: 371px;
          .cardImg {
            position: absolute;
            inset: 0;
          }
        //   &::after {
        //     content: "";
        //     background: linear-gradient(
        //       to top right,
        //       rgba(0, 0, 0, 0.72) 0%,
        //       rgba(0, 0, 0, 0) 50%
        //     );
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index: 1;
        //   }
    //       display: flex;
    //       flex-direction: column;
    //       justify-content: space-between;
    //       padding: 10px;
    //       .arrowRight {
    //         border: 1px solid $colorOrange;
    //         width: 64px;
    //         height: 64px;
    //         border-radius: 100%;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         align-self: flex-end;
    //         gap: 10px;
    //         padding: 10px;
    //         position: relative;
    //         z-index: 3;
    //         a {
    //           svg {
    //             stroke: none;
    //             fill: $colorOrange;
    //           }
    //         }
    //       }
    //       height: 371px;
    //       .brand {
    //         display: flex;
    //         flex-direction: column;
    //         gap: 10px;
    //         padding: 20px;
    //         border-radius: 25px;
    //         margin: 0 10px;
    //         position: relative;
    //         z-index: 3;
    //         .brandTitle {
    //           font-size: 70px;
    //           font-weight: 700;
    //           position: relative;
    //           color: $colorWhite;
    //         }
    //         .brandText {
    //           display: none;
    //           color: $colorWhite;
    //         }
    //       }
    //     }
    //     .card:hover {
    //       .arrowRight {
    //         background-color: $colorOrange;
    //         a {
    //           svg {
    //             fill: $colorWhite;
    //             stroke: $colorWhite;
    //           }
    //         }
    //       }
    //       .brand {
    //         background: linear-gradient(
    //           rgba(0, 0, 0, 0.72),
    //           rgba(0, 0, 0, 0.72)
    //         );
    //         transform: scale(1.02);
    //         .brandText {
    //           display: block;
    //         }
    //       }
        }
      }
    }
  }
}
