@use "../variables" as *;
@use "../mixins" as *;

.services {
  background-image: url("/assets/images/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 50px;
  // height: 100%;
  &::after {
    content: "";
    opacity: 80%;
    background-color: $colorNav;
    background-image: url("/assets/images/services-bg-details.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 50px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .container {
    padding: 116px 71px;
    position: relative;
    z-index: 2;
    .row {
      display: flex;
      flex-direction: column;
      gap: 96px;
      .serviceHeading {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        .titleWhite,
        .text {
          color: $colorWhite;
        }
        .text {
          width: 37%;
        }
        .titleWhite {
          font-size: 48px;
        }
      }
      .serviceSlide {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 100%;
        .serviceCards {
          .card {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 35px;
            border: 2px solid $colorWhite;
            width: 33%;
            .cardTitle {
              font-size: 32px;
              font-weight: 500;
              color: $colorWhite;
              padding: 37px;
              text-wrap: nowrap;
            }
            .cardImg {
              border-radius: 35px;
              overflow: hidden;
              position: relative;
              .img {
                position: relative;
                z-index: 10;
              }
              img {
                border-radius: 35px;
              }
              .arrowCircle {
                z-index: 12;
              }
            }
            .cardImg::before {
              content: "";
              border: 2px solid rgba(249, 250, 251, 0.3);
              display: block;
              margin: 23px 0;
              position: relative;
            }
            .cardImgShadow {
              width: 100%;
              height: 100%;
              position: absolute;
              border-radius: 35px;
            }
            .dark {
              background-color: #757575;
              opacity: 50%;
              top: 0;
            }
            .light {
              background-color: #9e9d9d;
              top: 20px;
            }
          }
          .card:hover {
            background-color: $colorOrange;
            .cardImg {
              .img {
                transform: scaleY(1.04);
              }
              .arrowCircle {
                background-color: $colorOrange;
              }
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 1024px) {
//   .services {
//     .container {
//       padding: 116px 0;
//     }
//   }
// }
// @media (max-width: 768px) {
//   .services {
//     .container {
//       padding-top: 66px;
//       padding-bottom: 66px;
//       .row {
//         gap: 48px;
//         .serviceHeading {
//           text-align: center;
//           justify-content: center;
//           .titleWhite,
//           .text {
//             flex: 0 0 90%;
//           }
//           .text {
//             font-size: 18px;
//           }
//           .titleWhite {
//             font-size: 36px;
//           }
//         }
//         .serviceSlide {
//           .serviceCards {
//             justify-content: center;
//             .card {
//               flex: 1 1 70%;
//               max-width: 70%;
//               .cardTitle {
//                 text-align: center;
//                 font-size: 24px;

//                 padding: 20px;
//                 text-wrap: wrap;
//               }
//               .cardImg {
//                 .arrowCircle {
//                   padding: 10px;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
