@use "../variables" as *;
@use "../mixins" as *;

.services {
  background-image: url("/assets/images/service-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;

  .container {
    padding-top: 116px;
    padding-bottom: 116px;

    .row {
      display: flex;
      flex-direction: column;
      gap: 96px;
      .serviceHeading {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        .titleWhite,
        .text {
          color: $colorWhite;
          flex: 0 0 37%;
        }
        .titleWhite {
          font-size: 48px;
        }
      }
      .serviceSlide {
        display: flex;
        flex-direction: column;
        gap: 39px;
        .serviceCards {
          display: flex;
          justify-content: space-between;
          gap: 39px;
          .card {
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 35px;
            border: 2px solid $colorWhite;
            overflow: hidden;
            .cardTitle {
              font-size: 32px;
              font-weight: 500;
              color: $colorWhite;
              padding: 37px;
              text-wrap: nowrap;
            }
            .cardImg {
              .img {
                border-radius: 35px;
                overflow: hidden;
              }
              .arrowCircle {
                @include arrowBtn();
                position: absolute;
                bottom: 0;
                right: 0;
                svg {
                  width: 72px;
                  height: 72px;
                }
              }
            }
            .cardImg::before {
              content: "";
              border: 2px solid rgba(249, 250, 251, 0.3);
              display: block;
              margin: 23px 0;
            }
          }
        }
        .dots {
          width: fit-content;
          align-self: center;
        }
      }
    }
  }
}

// @media (max-width: 1024px) {
//   .services {
//     .container {
//       padding-top: 70px;
//       padding-bottom: 70px;
//       .row {
//         gap: 70px;
//         .serviceHeading {
//           .title,
//           .text {
//             flex: 0 0 100%;
//           }
//         }
//         .serviceSlide {
//           .serviceCards {
//             .card {
//               .serviceDetails {
//                 .cardTitle {
//                   font-size: 24px;
//                   padding: 37px;
//                   text-wrap: nowrap;
//                 }
//               }
//               .arrowCircle {
//                 width: 74px;
//                 height: 74px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// //*768den-320 e qeder normal deyil  sonra kartlar slide olmaga baslasin ve 768 de aralrindaki gap azalsin
// //* done

// @media (max-width: 425px) {
//   .services {
//     .container {
//       padding-top: 50px;
//       padding-bottom: 50px;
//       .row {
//         gap: 50px;
//         .serviceHeading {
//           text-align: center;
//           .title {
//             font-size: 40px;
//           }
//         }
//         .serviceSlide {
//           .serviceCards {
//             .deactive {
//               display: none;
//             }
//             .card {
//               .cardTitle {
//                 text-align: center;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }


//*seklin arxasinda shadow var 3qatli 3 div ust uste ve herbirine z index background color ve olcu de inherit veri duzelde bilerem

//*responsivlikde slide lazim 
//*buttonlar olan yerde kesilme olmalidir
//*background img rotate 
//*opacity var bacground img in ustunde 
