@use "../variables" as *;

.whyHire {
  margin: 60px 0;
  background-color: $colorLightGray;
  border-radius: 50px;
  padding: 122px 0;
  height: 100%;
  .container {
    .row {
      display: flex;
      justify-content: space-between;
      gap: 96px;
      .photoMask {
        position: relative;
        flex: 1 0 48%;
        cursor: pointer;
        .womanImg,
        .womanImgHover {
          width: 100%;
          transition: opacity 0.45s ease, transform 0.45s ease;
        }
        .womanImgHover {
          position: absolute;
          bottom: 0;
          clip-path: inset(100% 0 0 0);
          opacity: 1;
          transform: scale(1);
          height: fit-content;
        }
        &:hover .womanImgHover {
          clip-path: inset(0 0 0 0);
          transform: scale(1.04);
        }

        &:hover .womanImg {
          opacity: 0;
        }
      }

      .hireTextCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 47px;
        .title {
          font-weight: 600;
        }
        .hireText {
          color: $colorExperienceHireText;
          font-weight: 400;
          width: 72%;
        }
        .statistics {
          display: flex;
          gap: 10px;
          .completedProject {
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .number {
              font-size: 36px;
              color: $colorCharcoalBlue;
              //*hero text de olan eyni bold problemi bunda da var 100%font face e baxmaq lazimdir
              font-weight: 500;
            }
            .completedText {
              color: $colorHireSpan;
              text-wrap: wrap;
            }
          }
        }
        .btn {
          width: fit-content;
          border: 1px solid $colorHireButton;
          border-radius: 32px;
          padding: 33px 59px;
          a {
            color: $colorHireButton;
            font-weight: 600;
            font-size: 32px;
          }
          &:hover {
            background-color: $colorHireButton;
            a {
              color: $colorWhite;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .whyHire {
    .container {
      .row {
        .hireTextCard {
          .title {
            font-size: 40px;
          }
          .hireText {
            width: 100%;
          }
          .btn {
            a {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .whyHire {
    padding: 30px 0;
    .container {
      .row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
        .womanImg {
          flex: 0 0 100%;
        }
        .hireTextCard {
          align-items: center;
          text-align: center;
          flex: 0 0 100%;

          .statistics {
            gap: 25px;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .whyHire {
    .container {
      .row {
        .hireTextCard {
          .title {
            font-size: 32px;
          }
          .statistics {
            gap: 25px;
            .completedProject {
              .number {
                font-size: 26px;
              }
              .completedText {
                text-wrap: nowrap;
                font-size: 18px;
              }
            }
          }
          .btn {
            padding: 16px 30px;
          }
        }
      }
    }
  }
}

//*done
